<div class='row'>
  <div class='col-md-6'>
    <h1>Tags</h1>
    <ul>
      <% @tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
  </div>
  <div class='col-md-6'>
    <h1>New Tag</h1>
    <%= render 'form' %>
  </div>
</div>
